{%load static%}
<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Contact Us</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="#"><img src="{% static 'img/carlogo.png' %}" height='70px' width="200px"></a>

	  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Link</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Disabled</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<!-- navbar end -->
    <p>hello</p>
	<!-- form started -->
    <section class="container myform">
    	<p>hello</p>
    </section>
	<!-- form end -->
    <!-- footer started -->
	<!-- <section class="footer" style="background-image: url({% static 'img/footer.jpg' %});">
	 <div class="row">
	 	 <div class="col-md-4 our-services">
	 	 	  <h3>Our Services</h3>
	 	 	  <p>Wheel Alignment and Installation</p>
	 	 	  <p>Maintainance Inspaection</p>
	 	 	  <p>Electrical System Diagnostic</p>
	 	 	  <p>Air Condition Repair</p>
	 	 	  <p>Engine Diagnostic And Repair</p>
	 	 </div>
	 	 <div class="col-md-4 instagram">
	 	 	  <h3>Instagram</h3>
	 	 	  <div class="row">
	 	 	  	 <div class="first-img-instagram">
	 	 	  	 	 <img src="{%static 'img/multislider1.jpg' %}" height="80px" width="80px">
	 	 	  	 </div>
	 	 	  	 <div>
	 	 	  	 	  <img src="{%static 'img/multislider2.jpg' %}" height="80px" width="80px">
	 	 	  	 </div>
	 	 	  	 <div>
	 	 	  	 	 <img src="{%static 'img/multislider3.jpg' %}" height="80px" width="80px">
	 	 	  	 </div>
	 	 	  </div>
	 	 	  <div class="row second-row">
	 	 	  	 <div class="first-img-instagram">
	 	 	  	 	 <img src="{%static 'img/multislider4.jpg' %}" height="80px" width="80px">
	 	 	  	 </div>
	 	 	  	 <div>
	 	 	  	 	  <img src="{%static 'img/multislider5.jpg' %}" height="80px" width="80px">
	 	 	  	 </div>
	 	 	  	 <div>
	 	 	  	 	 <img src="{%static 'img/multislider6.jpg' %}" height="80px" width="80px">
	 	 	  	 </div>
	 	 	  </div>
	 	 </div>
	 	 <div class="col-md-4 news">
	 	 	  <h3>Latest News</h3>
	 	 	  <p>Get usefull Car MAintainence Tips<br><br>
	 	 	  From Out Experts<br><br><span>10-04-2020</p>
	 	 	   <p>Get usefull Car MAintainence Tips<br><br>
	 	 	  From Out Experts<br><br><span>10-04-2020</p>
	 	 </div>
	 </div>
</section> -->
<!-- footer end -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</body>
</html>